@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color:#e6f0f8;
    // background-color:#bac8d3;
    font-size: 16px;
    font-weight: 370;
    margin: 0;
    height: 100%;
    //    font-family: "Open Sans";
    // font-family: 
    font-family: Interdisplay, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
a {
    text-decoration: none;
    color: $accent;
}
// a:hover {
//     text-decoration: underline;
//     // color: #bdc8d2;
// }
hr {
    display: none;
    // border: 0;
    // height: 0;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 22px;
    font-weight: 360;
    color: #000000;
    // color: #272727;
    padding: 5px 0 5px 0;
    display: inline-block;
    margin-top: 35px;
    // vertical-align: bottom; // Add this line
}
.navbar {
    padding: 40px 0 150px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
    // vertical-align: middle; // Add this line
}
.nav-list {
    list-style-type: none;
    margin: 6px 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Institute Image */

#ins-logo {
	// margin: auto 20px;
    margin: 10px 30px 0 0;
	display: block;
	max-height: 90px;
	text-align: right;
    float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
}
// 
/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
    #ins-logo {
        display: block;
        // text-align: center;
        margin-left:30%;
        margin-right:35%;
    }

}

@import "typography";
@import "tables";
